div .contact_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-self: center;
}
div .checkout {
    padding: 2rem;
}
.field_form{
    width: 50rem;
    padding: 2rem;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
}
.comfirm{
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: rgb(67, 67, 241);
    color: var(--primaryColor);
    cursor: pointer;
    border-radius: 1.5rem;
    padding: 1.5rem 4rem;
    transition: all 0.3s ease-in-out;
  }
  
.continue{
        display: inline-block;
        font-weight: 700;
        font-size: 1.4rem;
        background-color: #ff4545;
        color: var(--primaryColor);
        cursor: pointer;
        border-radius: 1.5rem;
        padding: 1.5rem 4rem;
        transition: all 0.3s ease-in-out;
}



@media only screen and (max-width: 996px) {
    div .contact_form{
        grid-template-columns: 1fr;
    }

    .field_form{
        width:max-content;
    }
}