@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');



.home{
    flex: 4;
    font-family: 'Gabriela';

}

.homeWidgets{
    display: flex;
    margin: 20px;
}

.contener{
    display: flex;
    margin-top: 10px; 
}


.link{
    text-decoration: none;
    color: inherit;
}