@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.facility__section {
  background-image: url("https://cdn.shopify.com/s/files/1/0064/4435/1539/files/bg-with-us_1920x.jpg?v=1616646261");
    /* padding: 6rem 0; */
    color:white;
    font-size: 500;
    text-align: center;
    font-family: 'Gabriela';
  }

  h1{
    margin: 2rem 0;
    font-size: 5rem;
  }
  h1 span{
    color: turquoise;
  }

  a{
    color: turquoise;
  }
  
  .facility__contianer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .facility-img__container svg {
    width: 3rem;
    height: 3rem;
    transition: 1s;
    perspective: 4000;
  }
  
  .facility__box {
    text-align: center;
  }
  
  /* .facility-img__container {
    position: relative;
    display: inline-block;
    width: 8rem;
    height: rem;
    z-index: 1;
    margin-bottom: 1.6rem;
  } */
  
  /* .facility-img__container::before {
    content: "";
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0.7rem;
    z-index: -1;
  } */
  
  .facility__box:hover svg {
    transform: rotateY(180deg);
    line-height: 9.5rem;
  }
  
  /*
  ======================
  Facility Media Query
  ======================
  */
  @media only screen and (max-width: 998px) {
    .facility__contianer {
      grid-template-columns: 1fr 1fr;
      row-gap: 3rem;
    }
  }
  
  @media only screen and (max-width: 568px) {
    .facility__contianer {
      grid-template-columns: 1fr;
    }
  
    .facility-img__container {
      width: 7rem;
      height: 7rem;
      line-height: 8.5rem;
    }
  
    .facility__contianer p {
      font-size: 1.4rem;
    }
  }
  