/* PRODUCT DETAILS */

.product-detail {
    margin-top: -5rem;
  }
  
  .product-detail .details {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 5rem;
    background-color: rgb(255, 255, 255);
    padding: 5rem;
  }
  
  .product-detail .left {
    display: flex;
    flex-direction: column;
  }
  
  .product-detail .left .main {
    text-align: center;
    background-color: rgb(255, 69, 69, 0.5);
    margin-bottom: 2rem;
    height: 30rem;
    padding: 3rem;
  }
  
  .product-detail .left .main img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
  
  .product-detail .thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
  }
  
  .product-detail .thumbnail {
    height: 10rem;
    background-color: rgb(255, 69, 69, 0.5);
    text-align: center;
    padding: 0.7rem;
  }
  
  .product-detail .thumbnail img {
    object-fit: contain;
    height: 100%;
  }
  
  .product-detail .right span {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .product-detail .right h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .product-detail .right .price {
    font-size: 600;
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 2rem;
  }
  
  
  
  .product-detail form {
    margin-bottom: 2rem;
  }
  
  .product-detail form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  
  
  .product-detail  .addCart {
    background: #ff4545;
    padding: 2rem 4rem;
    color: var(--white);
    border-radius: 3rem;
    border: none;
    margin: 2rem;
    width: 50%;
  }
  
  .product-detail h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .pop-close{
    float: right;
  }

  .reviews{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .reviews .red{
    color: red;
  }
  
  @media only screen and (max-width: 996px) {
    .product-detail .details {
      grid-template-columns: 1fr;
      overflow: scroll;
    }
    .product-detail .left {
      display: none;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  
    
  }
  
  @media only screen and (max-width: 650px) {
    .product-detail .details {
      grid-template-columns: 1fr;
    }
  
    .product-detail .right {
      margin-top: 5rem;
    }
  
  
    .product-detail .details {
      gap: 3rem;
    }
  
    .product-detail .thumbnail {
      width: 6rem;
      height: 6rem;
    }
  }